<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>XML Chat (:</title>
    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
</head>
<body>
    <div id="messages"></div>
    <script>
        var messages = [];
        //Get the messages
        setInterval(function() {
            $.getJSON("http://0.0.0.0:8080/messages", function(data) {
                $.each(data, function( key, val ) {
                       if (messages.find(function(element) {
                                return element.date == val.date && element.user == val.user;
                            }) === undefined
                      ) {
                            messages.push(val);
                            $("#messages").append(
                                "<div class='message'><div class='user'>" + val.user + "</div><div class='message'>" + val.message + "</div></div>"
                            );
                   }
                });
            });
        }, 1000);
    </script>
</body>
</html>